.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	width: 200px;
}
.nav-li{
	font-size: 24px;
	margin-right: 25px;
	color: blue;
	text-transform: uppercase;
}
.section{
	background-color: red;
}
.section-p{
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 36px;
}
.class{
	padding-top: 20px;
	padding-bottom: 20px;
}
.section2{
	height: 566px;
	border: 1px solid red;
}
.box1{
	width: 300px;
	height: 300px;
	border: 2px solid red;
}
.box2{
	width: 400px;
	height: 400px;
	border: 2px solid red;
}
.sec2-h{
	font-size: 22px;
	color: red;
	text-transform: uppercase;
	padding-top: 14px; 
	padding-bottom: 14px;
}
.border{
	width: 300px;
	height: 300px;
	border: 2px solid red;
}
.border1{
	width: 400px;
	height: 400px;
	border: 2px solid red;
}
.team{
	font-size: 22px;
	color: red;
	padding-top: 25px;
	padding-bottom: 50px;
	text-transform: uppercase;
}
.p_relative{
	position: relative;
}
.p-absolute{
	position: absolute;
	top: 75px;
	left: 30px;
}
.surname{
	font-size: 22px;
	color: black;
	text-transform: uppercase;
	width: 100%;
}
.box{
	width: 200px;
}
.section-4{
	background-color: #BDCCD4;
	height: 90px;
}
.sec4-p{
	font-size: 22px;
	color: #fff;
}
.bottom{
	padding-bottom: 130px;
}
.section-5{
	background-color: #E6E6E6;
}
.sec5-h{
	font-size: 24px;
	color: black;
	padding-top: 35px;
	padding-bottom: 35px;
}
.sec5-h2{
	font-size: 24px;
	padding-top: 32px;
	padding-left: 25px;
	padding-bottom: 18px;
	color: blue;
	text-transform: uppercase;
}
.sec5-box{
	width: 570px;
	background-color: #F2F2F2;
	padding-bottom: 19px;
	padding-right: 10px;
}
.sec5-p{
	font-size: 24px;
}
.readmore{
	display: flex;
	justify-content: flex-end;
	color: blue;
}
.sec5-img{
	padding-right: 60px;
	padding-left: 40px;
}
.sec5-wraper{
	padding-bottom: 30px;
}
.section-6{
	height: 60px;
}